@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row" style="margin-top:30px">
        <div class="col-md-12">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Enter URL to Scrape</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="https://www.google.com/" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-primary">Button</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
        </div>
    </div>
</div>
